<a href="https://colab.research.google.com/github/gtbnhyujmj2003/sklearn-iris/blob/master/%5Bsklearn%5D%5Biris%5D%5B02%5D%20KNeighborsClassifier.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 讀取資料 (以iris為例)

from sklearn.datasets import load_iris
iris = load_iris()

In [2]:
# 用胖達(Pandas)畫表格

import pandas as pd

df = pd.DataFrame(iris["data"], columns=iris["feature_names"])
df["target"] = iris["target"]
df

     sepal length (cm)  sepal width (cm)  ...  petal width (cm)  target
0                  5.1               3.5  ...               0.2       0
1                  4.9               3.0  ...               0.2       0
2                  4.7               3.2  ...               0.2       0
3                  4.6               3.1  ...               0.2       0
4                  5.0               3.6  ...               0.2       0
..                 ...               ...  ...               ...     ...
145                6.7               3.0  ...               2.3       2
146                6.3               2.5  ...               1.9       2
147                6.5               3.0  ...               2.0       2
148                6.2               3.4  ...               2.3       2
149                5.9               3.0  ...               1.8       2

[150 rows x 5 columns]

In [3]:
# 標準化
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

# 計算用於以後縮放的mean和std
scaler.fit(df.drop('target', axis=1))

# 執行標準化
scalered = scaler.transform(df.drop('target', axis=1))

In [4]:
scalered_df = pd.DataFrame(scalered, columns= df.columns[ : -1])
scalered_df["target"] = iris["target"]
scalered_df

     sepal length (cm)  sepal width (cm)  ...  petal width (cm)  target
0            -0.900681          1.019004  ...         -1.315444       0
1            -1.143017         -0.131979  ...         -1.315444       0
2            -1.385353          0.328414  ...         -1.315444       0
3            -1.506521          0.098217  ...         -1.315444       0
4            -1.021849          1.249201  ...         -1.315444       0
..                 ...               ...  ...               ...     ...
145           1.038005         -0.131979  ...          1.448832       2
146           0.553333         -1.282963  ...          0.922303       2
147           0.795669         -0.131979  ...          1.053935       2
148           0.432165          0.788808  ...          1.448832       2
149           0.068662         -0.131979  ...          0.790671       2

[150 rows x 5 columns]

In [5]:
# 分割資料
from sklearn.model_selection import train_test_split
x, u, y, w = train_test_split(scalered_df.drop(["target"], axis=1),
                              scalered_df["target"],
                              test_size= 0.2)

In [6]:
# 使用KNN演算法
from sklearn.neighbors import KNeighborsClassifier

# 從k=1開始測試
knn = KNeighborsClassifier(n_neighbors=1)
knn.fit(x, y)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=1, p=2,
                     weights='uniform')

In [7]:
predict = knn.predict(u)

In [8]:
print("機器學習後的結果:", list(predict))
print("現實中真正的結果:", list(w))

機器學習後的結果: [0, 0, 2, 2, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 2, 1, 0, 0, 2, 0, 1, 1, 2, 2, 1, 1, 0, 0, 0, 0]
現實中真正的結果: [0, 0, 2, 2, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 2, 1, 0, 0, 1, 0, 1, 1, 2, 2, 1, 1, 0, 0, 0, 0]

In [9]:
# 計算 Accuracy Score
# 要放 (現實 , 機器預測的結果)

from sklearn.metrics import accuracy_score
score = accuracy_score(w, predict)

print("預測成功率:", score)

預測成功率: 0.9666666666666667

In [10]:
# 算混淆矩陣
from sklearn.metrics import confusion_matrix
pd.DataFrame(confusion_matrix(w, predict))

    0   1  2
0  12   0  0
1   0  12  1
2   0   0  5

In [11]:
from sklearn.metrics import classification_report
report = classification_report(w, predict)
print(report)

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        12
           1       1.00      0.92      0.96        13
           2       0.83      1.00      0.91         5

    accuracy                           0.97        30
   macro avg       0.94      0.97      0.96        30
weighted avg       0.97      0.97      0.97        30